@import 'theme.scss';

.title{
    width: 100%;
    padding: 30px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #808080; 
}

@media #{$mobile} {
    .title{
        width: 345px;
        padding: 14.5px;
        font-size: 16px;
        text-align: center;
        border-bottom: 1px solid #808080; 
    }
}